.header {
    overflow-x: hidden;
    background: $color-brand;
    height: 100vh;
    min-height: 716px;
    h1 {
        display: none;
    }
    .hamburger {
        display: none;
    }
}


.header__top {    
    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 107px;
        padding: 0 60px;
    }

    .menu {
        ul {
            display: flex;
            justify-content: space-between;
            color: $color-text;
        }

        .menu__link {
            padding: 0 20px;
            font-size: 15px;
            transition: color 0.5s ease;
            &:hover {
                color: #FFF;
            }
            &.menu__link_active {
                color: #FFF;
            }
        }

        li:first-child .menu__link {
            padding-left: 0;
        }

        li:last-child .menu__link {
            padding-right: 0;
        }
    }
}

.header__content {
    .header__ups-wrapper{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header__img-wrapper {
        height: calc(100vh - 107px);
        position: relative;        
    }
    .header__img {
        position: absolute;
        width: 100%;
        height: 90vh;
        min-height: 609px;
        top: 25px;
        background: url(../img/001.jpg) no-repeat center top / cover; 
    }
    .header__title {
        font-family: $font-headers;
        font-size: 60px;
        color: #FFF;
        margin-top: 20px;
        margin-bottom: 18px;
        width: 90%;
    }    
    .header__button {
        margin-top: 30px;
    }
}

@media (max-width: 1200px) {
    .header__content {
        .header__title {
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .header {
        min-height: 1000px;
        height: auto;
        .hamburger {
            display: block;
            .contact-phone {
                display: block;
                position: absolute;
                bottom: 30px;
            }
        }
    }
    .header__menu, .header__contact-phone {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        min-height: 1200px;
    }
}