.lifehacks {
    background-color: #FFF;
    padding: 100px 0 100px;
    .lifehacks__title {
        margin: 10px 0 52px;
    }
    .lifehacks-card {
        background-color: $color-light-green;
        color: $color-brand;
        font-family: $font-base;
        height: 713px;
        max-height: 713px;
        .lifehacks__img {
            width: 100%;
        }
        .lifehacks-card__header {
            display: flex;
            padding: 30px 0 23px 30px;            
            p {
                margin-bottom: 0;
            }
            span {
                font-size: 15px;
                margin: 0 20px 0 5px;
                color: $color-grey;                
            }
        }
        .lifehacks-card__title {            
            font-family: $font-headers;
            margin-left: 30px;
            font-size: 25px;
            max-width: 486px;            
        }
        .lifehacks-card__title_narrow {
            max-width: 389px;
        }            
        .lifehacks-card__content {
            margin: 0 88px 45px 30px;
            color: $color-grey;
        }
        .lifehacks__button {
            margin-left: 25px;
        }
    }    
}

@media (max-width: 992px) {
    .lifehacks-card__title_narrow {
        margin-bottom: 54px;
    }
}

@media (max-width: 576px) {
    .lifehacks-card__title {        
        margin: 0 auto;
    }
    .lifehacks-card__title_narrow {
        margin-bottom: 0;
    }
}