.services {
    background-color: $color-light-green;
    padding: 100px 0 113px;
    .services__title {
        margin-top: 10px;
        margin-bottom: 52px;
    }
    .services__card {
        display: flex;
        flex-direction: column;
        padding: 0 6px;
    }
    .services__card-img { 
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .text-adornment {
        margin-top: 29px;
        margin-bottom: 5px;
    }
    .services__card-title {
        font-family: $font-headers;
        color: $color-brand;
        font-size: 22px;
        margin-bottom: 73px;
    }    
}

@media (max-width: 768px) {
    .services {
        .services__card {
            align-items: center;
        }
        .services__card-img {
            width: 100%;
        }
    }
}