.services {
    background-color: $color-light-green;
    padding: 100px 0 113px;
    .services__title {
        margin-top: 10px;
        margin-bottom: 52px;
    }
    .services__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services__card-img { 
        display: block;
        margin: 0 auto;
    }
    .text-adornment {
        margin-top: 29px;
        margin-bottom: 5px;
    }
    .services__card-title {
        font-family: $font-headers;
        color: $color-brand;
        font-size: 22px;
        margin-bottom: 73px;
    }    
}