.contact-phone {
    display: flex;
    align-items: center;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: text-shadow 0.2s ease;
    .contact-phone__img {
        width: 44px;
        height: 44px;
        border-radius: 50px;
        transition: box-shadow 0.2s ease;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    .contact-phone__wrapper{
        font-size: 17px;
        margin-left: 20px;
        p {
            color: $color-text;
            margin-bottom: 0;
        }
        span {
            color: #FFF;
        }
    }
    &:hover {
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        .contact-phone__img {
            box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.3);
        }
    }    
}

.text-adornment {
    height: 30px;
    p {
        line-height: 30px;
        font-size: 17px;
        color: $color-text;
        position: relative;
        margin-left: 50px;
        &:before {
            position: absolute;
            display: block;
            top: 50%;
            left: -50px;
            content: '';
            width: 40px;
            height: 1px;
            background-color: $color-text;
        }
    }
    &.text-adornment_grey {
        p {
            color: $color-grey;
            font-size: 17px;
            &:before {
                background-color: $color-grey;
            }
        }
    }
}

.button {
    display: block;
    text-align: center;
    line-height: 38px;
    width: 212px;
    height: 40px;
    border: 2px solid #FFF;
    background-color: #fff;
    border-radius: 0;
    color: $color-brand;
    transition: all 0.2s ease;
    &:hover {    
        background-color: $color-brand;
        color: #FFF;
    }
    &.button_green-border {
        border: 2px solid $color-brand;        
    }
}

.title {
    font-family: $font-headers;
    color: $color-brand;
    font-size: 48px;    
}